In [1]:
import os
import pandas as pd
import numpy as np
os.getcwd() #현재 경로 확인
os.chdir('C:\\Users\\SM\\Desktop\\YunJaeEun\\2023-2\\SWING') #현재경로 바꾸기

In [2]:
df = pd.read_csv("아토피_시군구통합_진료수.csv", engine="python")

In [3]:
#df = df.rename(columns={"주소(시군구)":'주소'})
new_df = pd.DataFrame([[0, 1, 2, 3, 4]],
                 columns = ['측정년도', '측정월','연령군', '진료에피소드', '미세먼지경보주의보'])
x=0
for i in range(864):
    year = str(df.iloc[i, 0])[:4]
    if ((year == '2016') or (year == '2017') or (year == '2018') or (year == '2019') or (year == '2020') or (year == '2021')):
        year_ = year
        month = str(df.iloc[i, 0])[4:]
        age = df.iloc[i, 1]
        episode = df.iloc[i, 2]
        new_df.loc[x] = [year, month, age, episode, 0]
        x = x+1;
df

     요양개시년월  연령군  합계 : 진료에피소드 건수
0    201001    0            9927
1    201001    1            4558
2    201001    2            2645
3    201001    3            7361
4    201001    4            2834
..      ...  ...             ...
859  202112    1            3158
860  202112    2            1935
861  202112    3           12071
862  202112    4            5064
863  202112    5            3545

[864 rows x 3 columns]

In [4]:
new_df

     측정년도 측정월  연령군  진료에피소드  미세먼지경보주의보
0    2016  01    0    6693          0
1    2016  01    1    3490          0
2    2016  01    2    2268          0
3    2016  01    3    7932          0
4    2016  01    4    3869          0
..    ...  ..  ...     ...        ...
427  2021  12    1    3158          0
428  2021  12    2    1935          0
429  2021  12    3   12071          0
430  2021  12    4    5064          0
431  2021  12    5    3545          0

[432 rows x 5 columns]

In [5]:
df_pm = pd.read_csv("PM주의보및경보.csv", engine="python")
df_pm

,미세먼지 주의보/경보 발령 내역,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,지역,권역,항목,경보단계,발령시간,해제시간
2,서울,서울권역,PM2.5,주의보,2021-12-15 16,2021-12-17 02
3,서울,서울권역,PM10,주의보,2021-11-19 21,2021-11-21 24
4,서울,서울권역,PM2.5,주의보,2021-11-19 19,2021-11-21 24
...,...,...,...,...,...,...
85,서울,서울권역,PM10,주의보,2016-04-10 12,2016-04-10 24
86,서울,서울권역,PM10,주의보,2016-04-09 15,2016-04-09 19
87,서울,서울권역,PM10,주의보,2016-04-08 15,2016-04-08 18
88,서울,서울권역,PM10,주의보,2016-03-06 11,2016-03-06 13
89,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_pm = df_pm.drop([0, 1, 89], axis = 0)
df_pm.index = range(87)
df_pm

,미세먼지 주의보/경보 발령 내역,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,서울,서울권역,PM2.5,주의보,2021-12-15 16,2021-12-17 02
1,서울,서울권역,PM10,주의보,2021-11-19 21,2021-11-21 24
2,서울,서울권역,PM2.5,주의보,2021-11-19 19,2021-11-21 24
3,서울,서울권역,PM10,주의보,2021-05-24 16,2021-05-25 08
4,서울,서울권역,PM10,주의보,2021-05-09 01,2021-05-09 02
...,...,...,...,...,...,...
82,서울,서울권역,PM10,주의보,2016-04-23 03,2016-04-24 12
83,서울,서울권역,PM10,주의보,2016-04-10 12,2016-04-10 24
84,서울,서울권역,PM10,주의보,2016-04-09 15,2016-04-09 19
85,서울,서울권역,PM10,주의보,2016-04-08 15,2016-04-08 18
86,서울,서울권역,PM10,주의보,2016-03-06 11,2016-03-06 13

In [7]:
for i in range(87):
    if (df_pm.iloc[i, 3] == '주의보'):
        df_pm.iloc[i, 3] = 1
    elif (df_pm.iloc[i, 3] == '경보'):
        df_pm.iloc[i, 3] = 5
    df_pm.iloc[i, 4] = str(df_pm.iloc[i, 4])[:4]
    df_pm.iloc[i, 5] = str(df_pm.iloc[i, 5])[5:7]
df_pm.head(15)

   미세먼지 주의보/경보 발령 내역 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0                 서울       서울권역      PM2.5          1       2021         12
1                 서울       서울권역       PM10          1       2021         11
2                 서울       서울권역      PM2.5          1       2021         11
3                 서울       서울권역       PM10          1       2021         05
4                 서울       서울권역       PM10          1       2021         05
5                 서울       서울권역      PM2.5          1       2021         05
6                 서울       서울권역      PM2.5          5       2021         05
7                 서울       서울권역      PM2.5          1       2021         05
8                 서울       서울권역       PM10          5       2021         05
9                 서울       서울권역       PM10          1       2021         05
10                서울       서울권역       PM10          1       2021         04
11                서울       서울권역       PM10          1       2021         03
12                서울       서울권역       PM10          5       2021         03
13                서울       서울권역      PM2.5          1       2021         03
14                서울       서울권역       PM10          1       2021         03

In [8]:
for i in range(87):
    year = df_pm.iloc[i, 4]
    month = df_pm.iloc[i, 5]
    plus = df_pm.iloc[i, 3]
    for x in range(432):
        if ((new_df.iloc[x, 0] == year) and (new_df.iloc[x, 1] == month)):
            new_df.iloc[x, 4] = int(new_df.iloc[x, 4]) + int(plus)
            print(i)

0
0
0
0
0
0
1
1
1
1
1
1
2
2
2
2
2
2
3
3
3
3
3
3
4
4
4
4
4
4
5
5
5
5
5
5
6
6
6
6
6
6
7
7
7
7
7
7
8
8
8
8
8
8
9
9
9
9
9
9
10
10
10
10
10
10
11
11
11
11
11
11
12
12
12
12
12
12
13
13
13
13
13
13
14
14
14
14
14
14
15
15
15
15
15
15
16
16
16
16
16
16
17
17
17
17
17
17
18
18
18
18
18
18
19
19
19
19
19
19
20
20
20
20
20
20
21
21
21
21
21
21
22
22
22
22
22
22
23
23
23
23
23
23
24
24
24
24
24
24
25
25
25
25
25
25
26
26
26
26
26
26
27
27
27
27
27
27
28
28
28
28
28
28
29
29
29
29
29
29
30
30
30
30
30
30
31
31
31
31
31
31
32
32
32
32
32
32
33
33
33
33
33
33
34
34
34
34
34
34
35
35
35
35
35
35
36
36
36
36
36
36
37
37
37
37
37
37
38
38
38
38
38
38
39
39
39
39
39
39
40
40
40
40
40
40
41
41
41
41
41
41
42
42
42
42
42
42
43
43
43
43
43
43
44
44
44
44
44
44
45
45
45
45
45
45
46
46
46
46
46
46
47
47
47
47
47
47
48
48
48
48
48
48
49
49
49
49
49
49
50
50
50
50
50
50
51
51
51
51
51
51
52
52
52
52
52
52
53
53
53
53
53
53
54
54
54
54
54
54
55
55
55
55
55
55
56
56
56
56
56
56
57
57
57
57
57
57
58
58
58
58
58
58
59
59
59
59
59
59
60
60
60
60
60
60
61
61
61
61
61
61
62
62
62
62
62
62
63
63
63
63
63
63
64
64
64
64
64
64
65
65
65
65
65
65
66
66
66
66
66
66
67
67
67
67
67
67
68
68
68
68
68
68
69
69
69
69
69
69
70
70
70
70
70
70
71
71
71
71
71
71
72
72
72
72
72
72
73
73
73
73
73
73
74
74
74
74
74
74
75
75
75
75
75
75
76
76
76
76
76
76
77
77
77
77
77
77
78
78
78
78
78
78
79
79
79
79
79
79
80
80
80
80
80
80
81
81
81
81
81
81
82
82
82
82
82
82
83
83
83
83
83
83
84
84
84
84
84
84
85
85
85
85
85
85
86
86
86
86
86
86

In [9]:
new_df

     측정년도 측정월  연령군  진료에피소드  미세먼지경보주의보
0    2016  01    0    6693          0
1    2016  01    1    3490          0
2    2016  01    2    2268          0
3    2016  01    3    7932          0
4    2016  01    4    3869          0
..    ...  ..  ...     ...        ...
427  2021  12    1    3158          1
428  2021  12    2    1935          1
429  2021  12    3   12071          1
430  2021  12    4    5064          1
431  2021  12    5    3545          1

[432 rows x 5 columns]

In [10]:
new_df.to_csv('C:\\Users\\SM\\Desktop\\YunJaeEun\\2023-2\\SWING\\[2016-2021]아토피_PM경보주의보.csv', encoding='utf-8-sig', index=False) #csv파일로 생성